.nav__link {
  font-family: "Inter", arial, helvetica;
  padding: 20px;
  border-style: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  background-color: transparent;
  text-decoration: none;
  color: #000;
}

.nav__link:hover {
  cursor: pointer;
  opacity: 40%;
}
